# ArtFlow — змінні середовища

# База даних MySQL
DB_HOST=localhost
DB_USER=root
#DB_PASSWORD=19022004
DB_PASSWORD=
DB_NAME=artflow_db

# JWT секретний ключ (змініть на випадковий рядок!)
JWT_SECRET=Ulya1902

# Telegram Bot Token
BOT_TOKEN=8689681303:AAHeV2Oa5estlZ1ZXN4fmzz1TIgZ16lO_wQ

# Порт сервера
PORT=3000
